body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
    background: #B89B72;
;
}

/* HEADER */
header {
    background-color: #F3E9D2;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    color: #7A6248;
    letter-spacing: 2px;
}

nav a {
    margin-left: 25px;
    color: #7A6248;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

/* CONTENT SECTION */
.main {
    padding: 80px 120px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    color: #F3E9D2;
    margin-bottom: 15px;
}

.intro {
    font-size: 20px;
    line-height: 1.4;
    color: #F3E9D2;
    width: 80%;
    margin-bottom: 40px;
}

/* TABLE */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 20px;
}

th {
    background-color: #7A6248;
    padding: 15px;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    color: #F3E9D2;
    border: 2px solid #7A6248;
}

td {
    background-color: #F3E9D2;
    border: 2px solid #7A6248;
    padding: 15px 20px;
    vertical-align: top;
}

/* FOOTER */
footer {
    background-color: rgba(243, 233, 210, 0.75);
    padding: 40px;
    margin-top: 100px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    font-size: 16px;
    color: #7A6248;
}

.footer-item strong {
    font-family: "Playfair Display", serif;
    font-size: 17px;
}
